*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    border-radius: 10px;
    background-color: white;
}

.head{width: 700px;}
.head ul{display: flex; justify-content: space-around;}
.head > ul li{font-size: 18px;}

.contentbody{width: 715px;}
.contentbody > ul li:nth-child(1){overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 200px; height: 20px;}
.contentbody > ul li:nth-child(2){overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 135px; height: 20px;}
.contentbody > ul li:nth-child(3){overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px; height: 20px;}
.contentbody ul{display: flex; justify-content: space-around; position: relative; padding: 15px; border: 1px solid; border-radius: 5px; /* line-height: 5px; */ margin-top: 10px;}
.contentbody ul:hover{cursor: pointer;}
.contentbody ul li{margin-top: -6px;}


/* 포지션주면 예쁘긴한데 긴거 못씀 */
.contentbody ul li:nth-child(1){position: absolute; left: 97px;}
.contentbody ul li:nth-child(2){position: absolute; left: 328px;}
.contentbody ul li:nth-child(3){position: absolute; right: 110px;}
.contentbody ul li:nth-child(4){position: absolute; right: 50px; font-size: 10px;}
.contentbody ul li:nth-child(5){position: absolute; right: 15px; bottom: 7px;}

.out{width: 90px; height: 50px; border: 1px solid; border-radius: 5px; transition: .2s;}
.out:hover{background-color: rgb(255, 65, 65);}
.login{margin-top: 20px; margin-left: 5px;}
.in{width: 90px; height: 50px; border: 1px solid; border-radius: 5px; transition: .2s;}
.in:hover{background-color: aquamarine;}
.join{width: 90px; height: 50px; border: 1px solid; border-radius: 5px; transition: .2s;}
.join:hover{background-color: aquamarine;}

.btnbox{display: flex; justify-content: space-between; width: 100%;}